USE [master]
GO
/****** Object:  Database [BDSIVSUG]    Script Date: 20/2/2025 16:17:24 ******/
CREATE DATABASE [BDSIVSUG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIVSUGDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDSIVSUG.mdf' , SIZE = 14720KB , MAXSIZE = 102400KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SIVSUGDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDSIVSUG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDSIVSUG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDSIVSUG]
GO
USE [BDSIVSUG]
GO
/****** Object:  Sequence [dbo].[seq_propuesta_id]    Script Date: 20/2/2025 16:17:24 ******/
CREATE SEQUENCE [dbo].[seq_propuesta_id] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 NO CACHE 
GO
/****** Object:  Table [dbo].[Area_Conocimiento]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area_Conocimiento](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[n_area] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Area_Conocimiento] PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[id_carrera] [int] NOT NULL,
	[id_facultad] [int] NOT NULL,
	[carrera] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Carrera] PRIMARY KEY CLUSTERED 
(
	[id_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cobertura]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cobertura](
	[id_cobertura] [int] NOT NULL,
	[cobertura] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cobertura] PRIMARY KEY CLUSTERED 
(
	[id_cobertura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contexto]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contexto](
	[id_contexto] [int] NOT NULL,
	[contexto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Contexto] PRIMARY KEY CLUSTERED 
(
	[id_contexto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Decano]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decano](
	[id_decano] [int] NOT NULL,
	[id_facultad] [int] NOT NULL,
	[n_decano] [varchar](100) NOT NULL,
	[telefono] [int] NOT NULL,
	[e_mail] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Decano] PRIMARY KEY CLUSTERED 
(
	[id_decano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docente]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docente](
	[id_docente] [int] NOT NULL,
	[id_carrera] [int] NOT NULL,
	[n_docente] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasena] [varchar](50) NOT NULL,
	[rol] [varchar](50) NULL,
	[cedula] [int] NULL,
	[telefono] [int] NULL,
 CONSTRAINT [PK_Docente] PRIMARY KEY CLUSTERED 
(
	[id_docente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DominioCientifico]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DominioCientifico](
	[id_dom] [int] NOT NULL,
	[n_dom] [varchar](250) NOT NULL,
 CONSTRAINT [PK_DominioCientifico] PRIMARY KEY CLUSTERED 
(
	[id_dom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duracion]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duracion](
	[id_duracion] [int] IDENTITY(1,1) NOT NULL,
	[duracion] [int] NOT NULL,
 CONSTRAINT [PK_Duracion] PRIMARY KEY CLUSTERED 
(
	[id_duracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eje_Estrategico_Actuacion]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eje_Estrategico_Actuacion](
	[id_eje] [int] IDENTITY(1,1) NOT NULL,
	[eje_estrategico] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Eje_Estrategico_Actuacion_1] PRIMARY KEY CLUSTERED 
(
	[id_eje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EjesPD]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EjesPD](
	[id_ejes] [int] IDENTITY(1,1) NOT NULL,
	[n_eje] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EjeSocial] PRIMARY KEY CLUSTERED 
(
	[id_ejes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facultad]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facultad](
	[id_facultad] [int] NOT NULL,
	[facultad] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Facultad] PRIMARY KEY CLUSTERED 
(
	[id_facultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineasInvestigacion]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineasInvestigacion](
	[id_linea_inv] [int] NOT NULL,
	[n_linea_inv] [varchar](250) NOT NULL,
 CONSTRAINT [PK_LineasInvestigacion] PRIMARY KEY CLUSTERED 
(
	[id_linea_inv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[obj_especifico]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obj_especifico](
	[id_obj_especifico] [int] IDENTITY(1,1) NOT NULL,
	[id_dd_propuesta] [int] NOT NULL,
	[objetivo_especifico] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_obj_especifico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objetivo_DesarrolloS]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objetivo_DesarrolloS](
	[id_objDS] [int] IDENTITY(1,1) NOT NULL,
	[obj_DS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Objetivo_DesarrolloS] PRIMARY KEY CLUSTERED 
(
	[id_objDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjetivosP]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjetivosP](
	[id_obj] [int] IDENTITY(1,1) NOT NULL,
	[id_ejes] [int] NOT NULL,
	[n_objetivo] [varchar](250) NOT NULL,
 CONSTRAINT [PK_ObjetivosP] PRIMARY KEY CLUSTERED 
(
	[id_obj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjetivosPEDI]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjetivosPEDI](
	[id_objetivo] [int] NOT NULL,
	[n_objetivo] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ObjetivosPEDI] PRIMARY KEY CLUSTERED 
(
	[id_objetivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramaGrado]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramaGrado](
	[id_programa] [int] NOT NULL,
	[id_facultad] [int] NOT NULL,
	[programa] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ProgramaGrado] PRIMARY KEY CLUSTERED 
(
	[id_programa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramaQueArticula]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramaQueArticula](
	[id_programa] [int] NOT NULL,
	[n_programa] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ProgramaQueArticula] PRIMARY KEY CLUSTERED 
(
	[id_programa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[propuesta]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[propuesta](
	[id_propuesta] [nvarchar](10) NOT NULL,
	[titulo_propuesta] [varchar](500) NOT NULL,
	[fecha_registro] [date] NULL,
	[estado] [nchar](20) NULL,
	[id_docente] [int] NULL,
	[id_eje] [int] NULL,
	[form1] [nvarchar](max) NULL,
	[form2] [nvarchar](max) NULL,
	[form3] [nvarchar](max) NULL,
	[form4] [nvarchar](max) NULL,
	[form5] [nvarchar](max) NULL,
	[form6] [nvarchar](max) NULL,
	[form7] [nvarchar](max) NULL,
	[form8] [nvarchar](max) NULL,
	[form9] [nvarchar](max) NULL,
	[form10] [nvarchar](max) NULL,
	[form11] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_propuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subarea_Conocimiento]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subarea_Conocimiento](
	[id_subarea] [int] IDENTITY(1,1) NOT NULL,
	[id_area] [int] NOT NULL,
	[n_subarea] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Subarea_Conocimiento] PRIMARY KEY CLUSTERED 
(
	[id_subarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subarea_Especifica]    Script Date: 20/2/2025 16:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subarea_Especifica](
	[id_subarea_especifica] [int] IDENTITY(1,1) NOT NULL,
	[id_area] [int] NOT NULL,
	[id_subarea] [int] NOT NULL,
	[n_subarea_especifica] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Subarea_Especifica] PRIMARY KEY CLUSTERED 
(
	[id_subarea_especifica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[propuesta] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[propuesta] ADD  DEFAULT ('Borrador') FOR [estado]
GO
USE [master]
GO
